
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
env/
ENV/
env.bak/

# Flask instance folder
instance/

# SQLite database
*.db
*.sqlite3



# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Test coverage & cache
.coverage
htmlcov/
.cache/

# Python egg files
*.egg
*.egg-info/
dist/
build/
__pycache__/
# PyInstaller
venv/
.env
*.pyc